p {
	margin: $paragraph_margin;

	@media (max-width: 1140px) {
		margin: 0 0 24px;
	}

	@media (max-width: 480px) {
		margin: 0 0 22px;
	}
}
ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h20 {
	font-family: $basefont;
	font-weight: $headings_font_weight;
	color: $font;
	margin: $headings_margin;
	text-transform: $headings_text_transform;
	line-height: 1.2;

	@media (max-width: 959px) {
		margin: 24px 0 16px;
	}
}

h1, .h1 {
	@include fz($h1);
	margin-top: 0;
	line-height: 1;

	@media (max-width: 1280px) {
		@include fz(56);
	}

	@media (max-width: 1140px) {
		@include fz(50);
	}

	@media (max-width: 959px) {
		@include fz(46);
	}

	@media (max-width: 599px) {
		@include fz(36);
		line-height: 1.14;
	}

	@media (max-width: 480px) {
		@include fz(28);
	}
}
h2, .h2, .ui-h2 {
	@include fz($h2);
	line-height: 1.2;

	@media (max-width: 1280px) {
		@include fz(44);
	}

	@media (max-width: 1140px) {
		@include fz(42);
	}

	@media (max-width: 959px) {
		@include fz(40);
	}

	@media (max-width: 599px) {
		@include fz(32);
	}

	@media (max-width: 480px) {
		@include fz(24);		
	}
}
h3, .h3, .ui-h3 {
	@include fz($h3);
	line-height: 1.2;

	@media (max-width: 959px) {
		@include fz(32);
	}

	@media (max-width: 599px) {
		@include fz(26);
	}

	@media (max-width: 480px) {
		@include fz(24);
	}
}
h4, .h4, .ui-h4 {
	@include fz($h4);
}
h5, .h5 {
	@include fz($h5);
}
h6, .h6, .ui-h5 {
	@include fz($h6);
	text-transform: none;
	font-weight: 700;
}
.ui-font-midi {
	@include fz(16);
}
.ui-font-mini {
	@include fz(14);
}
.h20 {
	@include fz(20);
}
.ui-strong,
.ui-bold {
	font-weight: 700;
}
.ui-demi {
	font-weight: 600;
}


a {
	color: $link;
	text-decoration: none;
	outline: none;
	transition: color .3s, border .3s;	
}
b, strong {
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $border;
  overflow: hidden;
}

table {
	border-collapse: collapse;
}
.wrapper a img {
	border: none;
	display: block;
	line-height: 0;
	font-size: 0;
}
/*---- ICONS ---- */

::selection {
	background: $bgc;
	color: #FFF;
}
::-moz-selection {
	background: $bgc;
	color: #FFF;	
}
@media (min-width: 992px) {
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: $border_tab;
	}
	::-webkit-scrollbar-thumb {
		width: 6px;
		height: 6px;
		background-color: $primary;
	}
	::-webkit-scrollbar-thumb:hover {
		background: lighten($primary, 8%);
	}
}

.color-red {
	color: #F00;
}

.ui-tabs {
	white-space: nowrap;
	overflow-x: auto;
}

.ui-tab {
	@include fz(24);
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 52px;
	cursor: pointer;
	transition: color 0.3s;

	@media(max-width: 1280px) {
		@include fz(22);
		margin-right: 40px;
	}

	@media(max-width: 1024px) {
		@include fz(20);
		margin-right: 36px;
	}

	@media(max-width: 480px) {
		@include fz(16);
		margin-right: 28px;
		line-height: normal;
	}

	&:last-child {
		margin-right: 0;
	}

	&.active {
		border-bottom: 4px solid $border_tab;

		@media(max-width: 599px) {
			border-width: 2px;
		}
	}

	&:hover {
		color: $primary
	}
}

.text-uppercase {
	text-transform: uppercase;
}

.section-title {
    text-transform: uppercase;
    font-weight: 700;
}

.ui-tabs-wrapper {
	transition: transform 0.3s;
	transform: scale(0.1);
	&:not(.active) {
		// display: none;	
		height: 0;	
		overflow: hidden;
		display: block;
	}

	&.active {
		transform: scale(1);
	}
}

.ui-btn {
	@include ls(1.32);
	font-weight: 500;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;	
	max-width: 100%;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 10px;
	border: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: $button;	
	color: $font_white;
	text-align: center;	
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	transition: background-color .2s;

	@media(max-width: 1280px) {
		padding-top: 24px;
		padding-bottom: 24px;
		padding-left: 36px;
		padding-right: 36px;
	}

	@media(max-width: 992px) {
		font-weight: 600;
	}

	@media(max-width: 480px) {
		padding-top: 22px;
		padding-bottom: 22px;
		border-radius: 8px;
	}

	&-icon {
		width: 16px;
		height: 16px;
		margin-left: 12px;
		display: inline-block;
		vertical-align: middle;

		@media(max-width: 1280px) {
			width: 14px;
			height: 14px;
		}

		@media(max-width: 599px) {
			width: 12px;
			height: 12px;
		}
	}

	&-block {
		display: block;
		width: 100%;		
	}

	&-rounded {
		@include ls(0.3);
		border-radius: 40px;
		padding-left: 48px;
		padding-right: 48px;
		padding-top: 20px;
		padding-bottom: 20px;

		@media(max-width: 480px) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
	}

	&:hover {
		background-color: $button_hover;
	}
	&:active {
		background-color: $button_hover;
	}	
}

.ui-field {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 28px;
	position: relative;

	@media (max-width: 1280px) {
		gap: 6px;
		margin-bottom: 22px;
	}

	@media(max-width: 480px) {
		gap: 4px;
		margin-bottom: 16px;
	}

	&__agree {
		margin-bottom: 58px;

		@media(max-width: 1280px) {
			margin-bottom: 50px;
		}		

		@media(max-width: 768px) {
			margin-bottom: 40px;
		}

		@media(max-width: 480px) {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
		}
	}

	label.error {
		@include fz(16);
		color: $error;
		position: absolute;
		bottom: 0;
		left: 20px;
		z-index: 1;

		@media(max-width: 599px) {
			@include fz(12);
			left: 12px;
		}
	}

	&-excess {
		position: absolute;
		@include fz(16);
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		font-weight: 700;
	}
}

.ui-label {	
	@include fz(16);	
	font-weight: 700;
	text-transform: uppercase;

	@media(max-width: 599px) {
		@include fz(14);
	}

	@media(max-width: 480px) {
		@include fz(12);
	}

	&-agree {
		vertical-align: middle;
		display: inline-block;
		line-height: normal;
	}

	&-required {
		@include fz(18);

		@media(max-width: 599px) {
			@include fz(17);
		}
	
		@media(max-width: 480px) {
			@include fz(16);
		}
	}
}

.ui-input {
	@include fz(18);
	color: $font;
	line-height: normal;
	padding: 30px 20px;
	border-radius: 10px;
	border: 1px solid $border;
	background-color: $bg_input;
	outline: none;
	width: 100%;

	@media(max-width: 1280px) {		
		padding: 22px 18px;		
	}

	@media(max-width: 480px) {
		@include fz(17);
		padding: 16px 12px;
		border-radius: 8px;
	}	

	&.error {
		border-color: $error;
	}

	&-wrapper {
		position: relative;
	}

	&__excess {
		padding-right: 100px;
	}
}

.ui-select {		

	&.opened {
		.jq-selectbox__trigger {
			transform: rotate(180deg);
		}
	}	

	&.error {
		& ~ .jq-selectbox__select {
			border-color: $error;
		}
	}

	.jq-selectbox__select {
		@include fz(18);
		color: $font;
		padding: 30px 20px;
		border-radius: 10px;
		border: 1px solid $border;
		background-color: $bg_input;
		outline: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media(max-width: 1280px) {		
			padding: 22px 18px;		
		}

		@media(max-width: 480px) {
			@include fz(17);
			padding: 16px 12px;
		}

		&-text {
			line-height: normal;
		}
	}

	.jq-selectbox__dropdown {
		width: 100%;
		border-radius: 10px;
		border: 1px solid $border;
		padding-top: 42px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 54px;
		background-color: #fff;

		@media(max-width: 1280px) {
			padding-top: 34px;
			padding-bottom: 34px;
		}

		@media(max-width: 992px) {
			padding-top: 32px;
			padding-bottom: 32px;
		}

		@media(max-width: 480px) {
			padding: 26px 20px;
		}

		li {
			cursor: pointer;
			transition: color 0.3s;

			&:not(:last-child, .disabled) {
				margin-bottom: 28px;

				@media(max-width: 1280px) {
					margin-bottom: 20px;
				}

				@media(max-width: 992px) {
					margin-bottom: 18px;
				}
				
				@media(max-width: 768px) {
					margin-bottom: 16px;
				}

				@media(max-width: 480px) {
					margin-bottom: 14px;
				}
			}
			
			&.disabled {
				height: 0;
				visibility: hidden;
				opacity: 0;
				overflow: hidden;
			}

			&.selected {
				color: $font_extra_light;
			}

			&:hover {
				color: $primary;
			}
		}
	}

	.jq-selectbox__trigger {
		background-image: url(../images/svg/chevron-down.svg);
		background-repeat: no-repeat;
		width: 12px;
		height: 8px;
		background-size: 12px 8px;
		transition: transform 0.3s;
	}
}


.ui-checkbox {
	width: 28px;
	height: 28px;
	border-radius: 2px;
	border: 1px solid $border;
	background-color: $bg_input;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	transition: background-color 0.3s, border-color 0.3s, background-image 0.3s;
	flex-shrink: 0;

	&:has(> .ui-checkbox.error) {
		border-color: $error;
	}

	label.error {
		display: none !important;
	}	

	@media(max-width: 599px) {
		width: 24px;
		height: 24px;
	}

	&.checked {
		background-color: $primary;
		border-color: $primary !important;
		background-image: url(../images/svg/checked.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 18px 13px;

		@media(max-width: 599px) {
			background-size: 15px 10px;
		}
	}
}

.ui-captcha {
	height: 84px;	
	margin-bottom: 28px;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	overflow: hidden;
	margin-left: -20px;

	@media (max-width: 992px) {
		gap: 6px;
	}

	@media (max-width: 480px) {
		margin-left: 0px;
	}

	button {
		border: 1px solid $border;
		background-color: $bg_input;
		border-radius: 2px;
		padding: 4px 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		flex-shrink: 0;

		@media (max-width: 992px) {
			padding: 4px;
		}

		img {
			width: 16px;
			height: 16px;			
		}
	}

	& > img {
		// width: 80%;
		max-width: 80%;
		height: 100%;
		aspect-ratio: 1.75;
		object-fit: contain;
		object-position: center;
		border-radius: 10px;
		background-color: #fff;
	}

	@media (max-width: 1280px) {
		height: 69px;
		margin-bottom: 22px;
	}

	@media (max-width: 480px) {
		height: 56px;
		margin-bottom: 16px;		
	}
}

.hidden-desktop {	
	@media (min-width: 993px) {
		display: none;
	}
}

.d-none {
	display: none;
}